{"ts":0,"client_ip":0,"server_ip":0,"bytes_in":0,"bytes_out":0,"client_port":0,"server_port":"80","url":"c.contentsquare.net","uri_query":"c.contentsquare.net:443","http_status":"200","http_user_agent":"Mozilla/5.0 (X11; Linux x86_64; rv:104.0) Gecko/20100101 Firefox/104.0","method":"CONNECT"}
{"ts":0,"client_ip":0,"server_ip":0,"bytes_in":0,"bytes_out":0,"client_port":0,server_port":"80","url":"connectivity-check.ubuntu.com","uri_query":"/","http_status":"204","http_user_agent":"","method":"GET"}
{"ts":0,"client_ip":0,"server_ip":0,"bytes_in":0,"bytes_out":0,"client_port":0,"server_port":"80","url":"ocsp.digicert.com","uri_query":"/ME8wTTBLMEkwRzAHBgUrDgMCGgQUoXVRBZ0hENIBuQgbczOPHDzHvV8EFIG4DmOKiRIY5fo7O1CVn+blkBOFAhAJxlFH7JD5jnucsH87j6oo","http_status":"200","http_user_agent":"com.apple.trusd/3.0","method":"CONNECT"}
{"ts":0,"client_ip":0,"server_ip":0,"bytes_in":0,"bytes_out":0,"client_port":0,"server_port":"80","url":"www.msftconnecttest.com","uri_query":"/connecttest.txt","http_status":"200","http_user_agent":"Microsoft NCSI","method":"CONNECT"}
{"ts":0,"client_ip":0,"server_ip":0,"bytes_in":0,"bytes_out":0,"client_port":0,"server_port":"80","url":"a.espncdn.com","uri_query":"/combiner/i?img=/i/leaguelogos/soccer/500/59.png","http_status":"200","http_user_agent":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109.0) Gecko/20100101 Firefox/112.0","method":"GET"}
{"ts":0,"client_ip":0,"server_ip":0,"bytes_in":0,"bytes_out":0,"client_port":0,"server_port":"80","url":"eec.crunchyroll.com:443","uri_query":"","http_status":"200","http_user_agent":"Mozilla/5.0 (X11; Linux x86_64; rv:104.0) Gecko/20100101 Firefox/104.0","method":"GET"}
