{"ts":0,"host":0,"software_type":"Application,"software_name":"adobe acrobat reader","major_version":"7","minor_version":"3"}
{"ts":0,"host":0,"software_type":"HTTP::BROWSER","software_name":"chrome","major_version":"114","minor_version":"0"}
{"ts":0,"host":0,"software_type":"HTTP::BROWSER","software_name":"Microsoft-CryptoAPI","major_version":"10","minor_version":""}
{"ts":0,"host":0,"software_type":"HTTP::BROWSER","software_name":"Windows-Update-Agent","major_version":"10","minor_version":"0"}
{"ts":0,"host":0,"software_type":"HTTP::BROWSER","software_name":"Microsoft-Delivery-Optimization","major_version":"10","minor_version":"0"}
{"ts":0,"host":0,"software_type":"HTTP::BROWSER","software_name":"OfficeClickToRun","major_version":"","minor_version":""}
